.display {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#search {
    display: grid;
    justify-items: center;
}

h4 {
    padding-top: 5%;
}

header {
    font-weight: 600;
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
}

#city {
    font-size: larger;
    font-weight: 400;
}

#dashboard {
    color: aliceblue;
    font-size: xx-large;
    background-color: #002d6f !important;
    min-width: 100vw !important;
    padding-top: 1% !important;
    margin-bottom: 1% !important;
}

body {
    background-color: rgb(13, 110, 253);
    /* border: solid 5px #002d6f; */
    padding-bottom: 1%;
}

#city-search {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    background-color: #cfe2ff !important;
    border: solid 4px #002d6f !important;
}

.btn {
    width: -webkit-fill-available;
}

.history-button {
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

html {
    background-color: #6c757d4f;
}

#day0,
#day1,
#day2,
#day3,
#day4,
#day5 {
    border: solid 4px #002d6f !important;
}